.image-qr-code-1-icon {
  align-self: stretch;
  position: relative;
  border-radius: 15px;
  max-width: 100%;
  overflow: hidden;
  height: 285px;
  flex-shrink: 0;
  object-fit: cover;
}
.improve-your-front-end {
  margin: 0;
}
.improve-your-front-end-container {
  align-self: stretch;
  position: relative;
}
.frame {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.scan-the-qr-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #b8bcc3;
}
.desktop-1,
.frame-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}
.frame-parent {
  border-radius: 20px;
  background-color: #fff;
  width: 280px;
  padding: 19px 17px 49px;
  justify-content: flex-end;
  gap: 28px;
}
.desktop-1 {
  position: relative;
  background-color: #d5e1ef;
  width: 100%;
  padding: 125px 560px;
  justify-content: flex-start;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: var(--font-inter);
}
@media screen and (max-width: 420px) {
  .desktop-1 {
    width: auto;
    align-self: unset;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
